:root {
  --background : #C5D9C8;
  --active: #591836;
  --highlight: #F2937E;
  --highlight-dark:rgb(232, 52, 5);
  --accent: #88BABF;
  --accent-dark:rgb(5, 163, 177);
  --color: #333;
  --light: #F2CFBB;
}

/* ---------------------------
   Global Styles
   --------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--background);
  color: var(--color);
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

header {
  background-color: var(--active);
  color: var(--light);
  width:100%;
}

main {
  background-color: white;
  border: 1px solid #999;
  color: var(--color);
  margin:1rem auto 5rem auto;
  max-width:60rem;
  min-height:30rem;
  padding:2em;
  width:80%;
}

footer {
  background-color: var(--color);
  bottom: 0;
  color: var(--light);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}

/* ---------------------------
   Typography
   --------------------------- */
h1, h2 {
  font-family: 'Chilanka', cursive;
  margin:0;
}

h1 {
  padding:1em;
}

blockquote {
  line-height:1;
}

blockquote::before {
  content: open-quote;
  color: var(--active);
  font-size:1.5em;
  font-weight:bold;
}

blockquote::after {
  content: close-quote;
  color: var(--active);
  font-size:1.5em;
  font-weight:bold;
}

a:link {
  color: var(--highlight-dark);
}

a:visited {
  color: var(--accent-dark);
}

a:hover,
a:active {
  color: var(--active);
}

.navbar {
  background-image: linear-gradient(var(--background-color), var(--accent));
  background-color:var(--accent);
  border-bottom: 1px solid var(--color);
  box-shadow: 0 1px 3px var(--color);
  height:2em;
  width:100%;
}

nav {
  display:table;
  height:2em;
  margin:0 auto;
}

nav .nav-item {
  display:table-cell;
  padding: 0.5rem 1.5rem;
  text-align:center;
  text-transform:uppercase;
  vertical-align: middle;
}

.nav-item:hover {
  background-color:var(--light);
  color:var(--color);
}

.nav-item a:link,
.nav-item a:visited,
.nav-item a:hover,
.nav-item a:active {
  color:var(--color);
  text-decoration:none;
}

.example {
  height:auto;
  width:100%;
}

.note {
  background-color:lemonchiffon;
  border:1px solid var(--color);
  margin:0.5rem auto;
  padding:1rem;
  width:90%;
}

.note p:first-child {
  margin-top:0;
}

.centered {
  text-align: center;
}

.fad, .fas {
  font-size:3rem;
}

#ireneMozilla {
  float:left;
  margin-right:10px;
  border:1px solid #333;
}

#tangledWeb {
  border:1px solid var(--color);
  margin:0 auto;
  width:100%;
}

#bottomNav {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0;
}

#link-list {
  border-top: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

#link-list li {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0;
}

#link-list li::after {
  content: '] ';
}

#link-list li::before {
  content: '[';
}

@media(max-width: 420px) {
main {
  padding: 1em;
  width: 90%;
}

.navbar {
  background-image: linear-gradient(var(--background-color), var(--accent));
  background-color: var(--accent);
  border-bottom: 1px solid var(--color);
  box-shadow: 0 1px 3px var(--color);
  height:auto;
  width: 100%;
}
  nav {
    display: table;
    margin: 0 auto;
  }

  nav .nav-item {
    display: table-cell;
    padding: 0px 1.5rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
  }

  footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
  }


}